$c-black: #000000;
$c-white: #ffffff;

$c-gray: #dcdcdc;
$c-gray-light: #efefef;

$c-cyan: #8ffff9;
$c-green: #97ff94;
$c-mindaro: #d5ff7c;
$c-yellow: #fffe81;
$c-orange: #ffda80;
$c-pink: #ffacd9;
$c-purple: #d8a9ff;

$c-cyan-dark: #73e1db;
