@import 'mod_colors';

.muski-ddsp-tt {
  border: 8px solid black;
  padding: 1em;
  max-width: 600px;

  audio {
    display: block;
    margin: auto;
  }
}

.btn.muski-ddsp-tt-tone {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  border-radius: 50%;
  font-size: 0;
  background-color: $c-gray-light;
  transition: background-size 0.5s, border-size 0.1s;

  &.disabled {
    border: 4px solid #dbd9d9;
    background-size: 65%;
    opacity: 0.3;
  }
}

.muski-ddsp-tt-tone-flute {
  background-image: url('../../vendor/openmoji/flute.svg');
  &:hover {
    background-color: $c-purple !important;
  }
}

.muski-ddsp-tt-tone-violin {
  background-image: url('../../vendor/openmoji/violin.svg');
  &:hover {
      background-color: $c-orange !important;
  }
}

.muski-ddsp-tt-tone-trumpet {
  background-image: url('../../vendor/openmoji/trumpet.svg');
  &:hover {
      background-color: $c-green !important;
  }
}

.muski-ddsp-tt-tone-tenor_saxophone {
  background-image: url('../../vendor/openmoji/saxophone.svg');
  &:hover {
      background-color: $c-yellow !important;
  }
}

.audio-pane {
  position: relative;
  text-align: center;
  .audio-spinner {
    position: absolute;
    top: 12px;
    margin-left: -1rem;
  }
}

.record-pane {
  display: flex;
  align-items: center;
  position: relative;

  .record-spinner {
    position: absolute;
    top: 14px;
    left: 14px;
  }
}

$record-button-size: 60px;
$record-dot-perc: 0.5;
$record-stop-perc: 0.5 * 0.9;

.btn-record-stop {
  display: inline-block;
  position: relative;
  width: $record-button-size;
  height: $record-button-size;
  font-size: 0;
  background-color: $c-gray-light;
  padding: 0;
  border: none;

  &:hover {
    background-color: $c-gray-light !important;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: ($record-button-size - $record-button-size * $record-dot-perc) * 0.5;
    left: ($record-button-size - $record-button-size * $record-dot-perc) * 0.5;
    width: $record-button-size * $record-dot-perc;
    height: $record-button-size * $record-dot-perc;
    border-radius: 50%;
    background-color: red;
  }

  &.recording {
    &::before {
      border-radius: 5px;
      top: ($record-button-size - $record-button-size * $record-stop-perc) * 0.5;
      left: ($record-button-size - $record-button-size * $record-stop-perc) * 0.5;
      width: $record-button-size * $record-stop-perc;
      height: $record-button-size * $record-stop-perc;
    }
  }

  &.busy {
    &::before {
      opacity: 0.2;
    }
  }
}

@keyframes progress-bar-grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.record-progress-bar {
  display: inline-block;
  position: relative;
  height: 26px;
  width: auto;
  background-color: $c-gray-light;
  vertical-align: middle;
  flex-grow: 1;
  margin-left: 10px;

  .bar {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $c-pink;
    width: 0;
  }

  &.recording {
    .bar {
      animation: progress-bar-grow 15s linear;
    }
  }
}
